
	.flex {
		display: flex;
	}

	.f-w {
		flex-wrap: wrap;
	}
	
	.w-100 {
		width: 100%;
	}
	
	.f-12 {
		font-size: 24rpx;
	}
	
	.flex_1 {
		flex: 1
	}
	
	.column {
		flex-direction: column;
	}

	.f-between {
		justify-content: space-between;
	}

	.f-center {
		justify-content: center;
	}

	.f-end {
		justify-content: flex-end;
	}

	.j-center {
		align-items: center;
	}

	.relative {
		position: relative;
	}

	.absolute {
		position: absolute;
	}

	.fixed {
		position: fixed;
	}

	.b-b {
		box-sizing: border-box;
	}
