page{
	background-color: #1F2031;
	min-height: 100vh;
}
.topbox{
	width:750rpx;
	/* background:linear-gradient(270deg,rgba(29,84,162,1) 0%,rgba(37,106,195,1) 100%); */
	background-color: #547CE2;
	border-radius:0px 0px 4rpx 4rpx;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.top_nr{
	position: absolute;
	bottom: 14rpx;
	width: 686rpx;
	left: 32rpx;
}
.top_icon{
	width: 40rpx;
	height: 40rpx;
}
.list_box{
	width: 686rpx;
	height: 80rpx;
}
.bta{
	width: 160rpx;
	height: 48rpx;
	line-height: 48rpx;
}

.zhifu_box{
	position: relative;
	width: 686rpx;
	padding: 32rpx 32rpx;
	background-color: #2B2D3D;
	box-shadow:0px 0px 12rpx 0px rgba(0,0,0,0.5);
	border-radius:4rpx;
}
.close{
	width: 38rpx;
	height: 30rpx;
	position: absolute;
	top: 30rpx;
	right: 30rpx;
}

.int_box{
	margin-top:40rpx;
	width: 622rpx;
	height: 80rpx;
	/* border-bottom: 2rpx solid rgba(255,255,255,0.65); */
	position: relative;
	overflow: hidden;
}
.int_box:hover .xian{
	animation: slide-right .5s 1;
	background-color: #ffffff;
}
.xaina{
	position: absolute;
	bottom: 0;
	width: 622rpx;
	height: 2rpx;
	background-color: #3A404C;
}
.xian{
	position: absolute;
	bottom: 0;
	width: 622rpx;
	height: 2rpx;
}
 @keyframes slide-right {
    /* from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    } */
	0%{transform: translateX(-100%);}
	50%{transform: translateX(0);}
	75%{transform: translateX(-5%);}
	100%{transform: translateX(0);}
  }
.ok_icon{
	width: 30rpx;
	height: 30rpx;
}
.forgethint{
	margin-top:20rpx;
	width: 622rpx;
	height: 30rpx;
	text-align: right;
}

.bt_box{
	width: 626rpx;
	margin-top: 20rpx;
}

.btb{
	width: 160rpx;
	height: 48rpx;
	line-height: 48rpx;
	background:linear-gradient(270deg,rgba(239,137,71,1) 0%,rgba(242,171,62,1) 100%);
	color: #FFFFFF;
	text-align: center;
	border-radius:2px;
}
.btc{
	width: 160rpx;
	height: 48rpx;
	line-height: 48rpx;
	text-align: center;
	border-radius: 4rpx;
	border: 2rpx solid #F2AB3E;
	color: #F2AB3E;
}